.root {
  margin-top: 40px;
}
.title {
  margin: 0 auto 20 auto;
}
.author {
  margin: 0 auto 20 auto;
}
/* .buttons {
  display: flex;
} */
.deleteButton {
  text-align: center;
  margin-top: 15px;
  margin-right: 40px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  height: 30px;
  padding: 0 10px 0 10px;
  color: black;
  opacity: 0.8;
  background-color: cadetblue;
  border-radius: 10px;
}
.deleteButton:hover {
  opacity: 1;
}

.error {
  background-color: red;
  color: #fff;
  font-weight: 600;
  display: inline-block;
}
