.root {
  align-items: center;
  margin-top: 60px;
}
.headerText {
  font-size: 2em;
}
.report {
  font-weight: bold;
  font-size: 1.5em;
  color: rgb(15, 128, 15);
}
.input {
  display: block;
  margin: 10px auto 20px auto;
  border: 1px solid cadetblue;
  height: 45px;
  width: 40%;
  outline: none;
  border-radius: 15px;
  padding-left: 20px;
  font-size: 0.9em;
}
.submit {
  display: block;
  margin: 10px auto;
  height: 40px;
  border-radius: 10px;
  padding: 0 10px 0 10px;
  border: none;
  background-color: cadetblue;
  color: white;
  font-size: 1em;
  font-weight: bold;
}
 
.submit:hover{
background-color: whitesmoke;
color: cadetblue;
border: 1px solid cadetblue;
}